.buttons {
  margin-top: 1em;
}

.dates {
  display: flex;
  width: 50%;
  margin-top: 1em;
  z-index: 1;
  /* justify-content: flex-start;
  align-items: flex-start; */
}

@media (max-width: 720px) { 
  .dates {
    width: 100%; 
  }
}