.hamburgerMenu {
  --x-width: 50px;

  display: flex;
  flex-direction: column;
  gap: 6px;
  width: max-content;
  position: fixed;
  top: 8px;
  left: 10px;
  z-index: 1000;
  cursor: pointer;
}

.hamburgerMenu::before,
.hamburgerMenu::after,
.hamburgerMenu input {
  content: "";
  width: 30px; 
  height: 6px;
  background-color: var(--primary-color);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity 200ms ease-in-out, width 200ms ease-in-out,
    rotate 200ms ease-in-out, translate 200ms ease-in-out,
    background-color 200ms ease-in-out;
}

.hamburgerMenu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburgerMenu.open::before {
  rotate: 45deg;
  width: 40px;
  translate: 0 -2px;
  background-color: #fff;
}

.hamburgerMenu.open::after {
  rotate: -45deg;
  width: 40px;
  translate: 0 2px;
  background-color: #fff;
  
}

.hamburgerMenu.open input {
  opacity: 0;
  width: 0;
  pointer-events: none;

}

@media (min-width: 1000px) {
  .hamburgerMenu {
    opacity: 0;
    width: 0;
    pointer-events: none;
    visibility: none;
    cursor: none;
  }
}