
.button {
  background-color: #a2c1b2;/* Green */
  color: #fff;
  border: none;
  border-radius: 1em;
  font-size: 1rem;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline: none;
  position: relative;
}

.button:hover {
  translate: 0 -2px;
}

.button.clicked {
  color: #fff;
  background-color: var(--primary-color) !important;
}