.dropdownContainer {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: .5em 1em;
  cursor: pointer;
}

.status {
  display: block;
  font-weight: 700;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: .5em 1em;
}
.dropdownContainer ul.dropdown {
  background: #f7f7f7;
  position: absolute;
  z-index: 999;
  display: none;
  left: 5px;
  right: -5px;
}

.dropdownContainer ul .status:hover {
  background: #dde0df;
}
.dropdownContainer.notEditable ul .status:hover {
  background: transparent;
}

.dropdownContainer.open {
  background: #f7f7f7;
}

.dropdownContainer.notEditable:hover {
  background: transparent;
}

.dropdownContainer.open ul.dropdown {
  display: block;
}

.dropdownContainer.notEditable:hover ul.dropdown {
  display: none;
}
