.buttons {
  margin: 1em 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  margin-bottom: 1em;
  align-items: flex-start;
}

.addresses {
  display: flex;
  flex-direction: column;  
}

.addresses label {
  margin-bottom: 1.75em;
}

.addresses button {
  margin-top: auto;
  align-self: flex-end;
  padding-right: 3em;
}


@media (min-width: 720px) {
  .container {
    flex-direction: row;
  }

  .container > *:first-child {
    width: 55%;
  }

  .addresses {
    margin-left: 3em;  
    width: 45%;
  }
}