
.menuBars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #fff;
}

.navMenu {
  z-index: 999;
  background-color: var(--primary-color);
  color: #fff;
  width: 220px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.navMenu.active {
  left: 0;
  transition: 450ms;
}

.navMenuItems {
  width: 100%;
}

.navMenuItems:first-child {
  margin-top: 2em;
}



.navbarToggle.active {
  display: flex;
}

@media (min-width: 1000px) {
  .navMenu {
    left: 0;
  }
}