.plus {
  cursor: pointer;
  /* position: absolute;
  top: 9px;
  right: 45px; */
  opacity: .6;
}

.plus svg {
  aspect-ratio: 1;
  width: 2rem;
  fill: var(--primary-color);
}

.plus.disabled {
  cursor: default;
  opacity: .2;
}