.dessertContainer {
  background-color: #e3ece7;
  border-radius: 1rem;
  padding: 2em;
  margin-bottom: .75em;
  position: relative;
  width: 100%;
}

.dessertContainer > div:first-child {
  top: 18px;
  right: 17px;
}

.dessertContainer > div:nth-child(2) {
  top: 18px;
  right: 55px;
}

.dessertInfo {
  display: flex;
  flex-direction: column;
}

.infoGroup {
  display: flex;
  flex-direction: column;
  padding: .25em .5em 0 0;
  margin-bottom: 1em;
  width: 100%;
}

.infoGroup label {
  font-size: .75rem;
  margin-bottom: .25em;
  margin-left: .75em;
}

.infoGroup input,
.infoGroup textarea {
  font-size: 1.15rem;
  border: 1px solid transparent;
  outline: none;
  background-color: #e3ece7;
  padding: .25em .5em;
  border-radius: .5rem;
  width: 100%;
}

.infoGroup input {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.infoGroup textarea {
  resize: none;
  overflow: auto;
  font-family: Inter;
}

.infoGroup input.editable,
.infoGroup textarea.editable {
  border: 1px solid #a7bbb1; 
}

.infoGroup input.editable {
  display: block;
}

.infoGroup input:focus,
.infoGroup textarea:focus {
  border: 1px solid var(--primary-color);
}
